.cardLayout {
  width: 100%;
  display: flex;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  padding-right: 12px;
}

.cardCover {
  border-radius: 2px;
  object-fit: cover;
  margin-right: 8px;
}

.cardBody {
  flex: 1;
}

.cardTitle {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
   /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.ell-1 {
  -webkit-line-clamp: 1;
}

.ell-2 {
  -webkit-line-clamp: 2;
}

.ell-3 {
  -webkit-line-clamp: 3;
}

.ell-4 {
  -webkit-line-clamp: 4;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardStat {
  display: flex;
  flex: 1;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.cardIcon {
  width: 16px;
  margin-right: 4px;
}

.cardPrice {
  white-space: nowrap;
  // margin-left: 10px;
}

.cardOriginalPrice {
  font-size: 20px;
  line-height: 16x;
  zoom: 0.5;
  text-decoration: line-through;
  margin-right: 8px;
  color: #BFBFBF;
}

.cardPriceValue {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #F4222D;
}

.cardPriceUnit {
  zoom: 0.625;
}

.cardPeriod {
  color: #909399;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 17px;
}

.cardLayout-1 {

  .cardBody {
    padding: 4px 0;
  }
}

.cardLayout-2, .cardLayout-3, .cardLayout-4 {
  background: #FFF;
  box-shadow: none;
}

.cardLayout-2 {
  padding: 15px;
  align-items: center;

  .cardCover {
    margin-right: 15px;
  }

  .cardTitle {
    margin-bottom: 20px;
  }
}

.cardLayout-3 {
  padding: 20px 15px;
  align-items: center;

  .cardCover {
    margin-right: 12px;
  }

  .cardTitle {
    margin-bottom: 16px;
  }
}

.cardLayout-4 {

  .cardTitle {
    margin-bottom: 4px;
  }

  .cardTag {
    display: inline-flex;
    margin-right: 5px;
    padding: 0 4px;
    border: 1px solid #429FFF;
    color: #429FFF;
    height: 16px;
    font-size: 12px;
    border-radius: 2px;
  }

  .cardTeacher {
    width: 25px;
    height: 25px;
    padding: 3px;
    border-radius: 50%;
    background: #FFF;
  }

  .cardTeacherIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .cardTeacherEll {
    transform: translate(-32px, 0);
  }

  .cardBtn {
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    white-space: nowrap;
    color: #FFF;
    font-size: 14px;
    background: #409EFF;
    border-radius: 4px;
  }

  .cardBottom {
    margin-bottom: 8px;
  }
}

.cardLayout-5 {
  padding: 8px 15px 8px 24px;
  align-items: center;
  height: 104px;

  .cardTitle {
    margin: 0;
  }

  .cardPeriod {
    margin: 0;
  }

  .cardTypeIcon {
    background: #FFF1F0;
    border-radius: 10px;
    padding: 0 8px;
    color: #FF4D4F;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
  }

  .cardBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
