.topLayout {
  width: 300px;
  margin: 16px auto 0;
  position: relative;
  padding-top: 36px;
}

.rankIcon {
  width: 100%;
}

.user {
  position: absolute;
  max-width: 100px;
}

.user-1 {
  left: 109px;
  top: 0;
}

.user-2 {
  top: 29px;
  left: 0;
}

.user-3 {
  top: 46px;
  right: 0;
}
