.moduleInner {
  background: #323038;
  margin-bottom: 15px;
  border-radius: 8px 8px 8px 8px;
  overflow: auto;
}

.moduleHeader {
  background: #403E46;
  color: #C0C4CC;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 8px 8px 0px 0px;
}
